<div *ngFor="let user of users">
  <div class="user-container">
    <h1> {{user.owner.login}} </h1>
    <h2> Files </h2>
    <ul *ngFor="let file of getFilesDetails(user)">
      <li>
        {{file.type}}
        <ul>
          <div (click)="openDialog(file['raw_url'])" class="underline">
            <li>
              {{file.filename}}
            </li>
          </div>
        </ul>
      </li>
    </ul>
    <h2> Forks </h2>
    <app-fork [forkUrl]="user.forks_url"></app-fork>
  </div>
</div>
